<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../stylesheets/app.css">
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#">Logo</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</nav>


<div class="row event-page">
  <div class="row content">
    
    <br><br><br>
    <div class="col-md-5 row col-md-offset-1">
      <div class="col-md-12" id="main-img">            
        <img src="../images/<%=event.id%>.png" class="img-responsive" alt="Image">
      </div>
    </div>
    <div class="col-md-4 row event-detail">
      <h1><%= event.name %></h1>
      <hr>
      <p></p><p>Nicknamed Mr. Worldwide, the Cuban-American music powerhouse from Miami, Florida, has been charting No. 1 hits in over 15 countries for a decade.</p>               &nbsp;</p><p></p>
      <p><i class="fas fa-calendar-alt"></i> &emsp; <%= event.date.toISOString().substring(0, 10) %> </p>
      <p><i class="fas fa-map-marker"></i> &emsp; <%= event.location %> </p>

      <div class="row">
        <div class="col-md-6">
          <h3>$110.00</h3>
        </div>
        <div class="col-md-6">
          <a class="btn btn-default btn-purchase">Buy Ticket</a>
        </div>        
      </div>
    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Copyright © 2018 Etherwave</p>
</footer>

<script src="./javascripts/app.js"></script>
</body>
</html>